body {
  margin: 0;
  display: flex;
}

.rotate-left { transform: rotate(-90deg); }

.rotate-right { transform: rotate(90deg); }

canvas.game {
  user-select: none; /* Prevent text selection during drag */
}