@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
  margin: 0;
  display: flex;
}

#score {
  font-family: 'Press Start 2P';
}

#result-container{
  font-family: 'Press Start 2P';
}

.rotate-left { transform: rotate(-90deg); }

.rotate-right { transform: rotate(90deg); }

canvas.game {
  user-select: none; /* Prevent text selection during drag */
}